<div class="min-h-screen flex items-center justify-center bg-slate-900">
  <div class="bg-white rounded-lg shadow-lg p-8 w-full md:w-1/2 lg:w-1/3">
    <div class="flex flex-col items-center">
      <div class="flex items-center justify-center mb-4 max-w-xs">
        <img src="../../assets/error.png" alt="">
      </div>
      <h1 class="text-2xl font-semibold mb-4">Oops! An error occurred</h1>
      <p class="text-gray-500 mb-6">Sorry the request is currently unavailable, please try again later.</p>
      <button class="bg-amber-500 hover:bg-amber-600 text-white py-2 px-4 rounded" (click)="goBack()">Go Back</button>
    </div>
  </div>
</div>
